body {
    overflow: auto;
    background-color: #EFEFEF;
}

#app {
    min-width: 1656px;
}

.el-header {
    z-index:101;
    color: #333;
    text-align: center;
}

.el-aside {
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #EFEFEF;
    padding: 0;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    margin: 0;
}

.el-drawer {
    background-color: #F2F1D7;
}

li {list-style-type:none;}

ul {list-style-type:none;}